{% extends 'base.html' %}
{% load static %}

{% block extra_title %}-subscribe{% endblock %}

{% block content %}
<div id="mc_embed_shell">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

    <div id="mc_embed_signup">
        <form
            action="https://herokuapp.us21.list-manage.com/subscribe/post?u=aa816ee1ee9a099af08d3c0e8&amp;id=ef1f1ec5e9&amp;f_id=00ef62e1f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank">
            <div id="mc_embed_signup_scroll">
                <h2>Subscribe</h2>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                            class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                        id="mce-EMAIL" required="" value=""></div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">

                    <input type="text" name="b_aa816ee1ee9a099af08d3c0e8_ef1f1ec5e9" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"
                            value="Subscribe">
                        <p style="margin: 0px auto;"><a href="http://eepurl.com/ixAyiQ"
                                title="Mailchimp - email marketing made easy and fun"><span
                                    style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                        class="refferal_badge"
                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                        alt="Intuit Mailchimp"
                                        style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{% block footer %}

<div class="container-fluid mt-5 dark fixed-bottom">
    <div class="cardfoot  mx-5 ">
        <div class="row mb-4 dark ">
            <div class="col-md-4 col-sm-4 col-xs-4 dark ">
                <div class="footer-text pull-left dark">
                    <div class="d-flex ">
                        <h1 class="white small">PeakPerformance</h1>
                    </div>
                    <p class="card-text grey">Empowering Fitness Journeys, One Product at a Time</p>

                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-md-2 col-sm-2 col-xs-2 dark ">
                <h5 class="heading ">Navagation</h5>
                <ul class="nlinks">
                    <li><a class="nlinks" href="/">Home</a></li>
                    <li><a class="nlinks" href="{% url 'products' %}">Products</a></li>
                    <li><a class="nlinks" href="/">Account</a></li>

                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 dark">
                <h5 class="heading white">Contact Us</h5>
                <ul class="card-text ">
                    <li><a class="nlinks" href="{% url 'subscription' %}">Newsletter</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li><a class="nlinks" href="{% url 'request_view' %}">Refunds</a></li>
                    <li><a class="nlinks" href="{% url 'feedback_view' %}">Feedback</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 dark ">
                <h5 class="heading diff white">Social media</h5>
                <ul class="card-text ">
                    <li><a class="nlinks" href="https://www.facebook.com/profile.php?id=61550356434270" target="_blank"
                            rel="noopener"><i class="fa-brands fa-facebook"></i></a></li>

                    <li><a class="nlinks" href="https://instagram.com/" target="_blank" rel="noopener"><i
                                class="fa-brands fa-instagram"></i></a></li>

                    <li><a class="nlinks" href="https://twitter.com/" target="_blank" rel="noopener"><i
                                class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
            </div>

        </div>
    </div>

    {% endblock %}

    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script
        type="text/javascript">(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}