{% extends 'base.html' %}
{% load static %}
{% block content %}





<div class="container border">
    <div class="row border">
        {% for product in products %}
        <div class="col-3 border">
            <div><img src="{{ product.featured_image.url }}" alt="Girl in a jacket" width="150" height="150"></div>
            <div class="border border-primary">{{ product.category }}</div>
            <div>{{ product.name }}</div>
            <div>{{ product.description}}</div>
            <div>{{ product.price}}</div>
            <a class="button" href="{% url 'product_detail' product.id %}">View Product</a>
            fffffffffffffffffffff
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}