{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">

</div>

<div class=container-fluid>
    <div class="row">

        <div class="col">
            <table class="table table-dark">

                <tr>
                    <td><img src="{{ product.featured_image.url }}" alt="Girl in a jacket" width="150" height="150">
                    </td>
                </tr>
                <tr>
                    <td>{{ product.category }}</td>
                </tr>
                <tr>
                    <td>{{ product.name}}</td>
                </tr>
                <tr>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <td>{{ product.price}}</td>
                </tr>
                <tr>
                    <td>{{ product.rating }}</td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-primary">TEST</button></td>
                    <td><a href="">More</a></td>
                    <td><button type="button" class="btn btn-primary">TEST</button></td>
                </tr>

            </table>

        </div>


    </div>

</div>





{% endblock %}