{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <h1>Customer Feedback</h1>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-responsive table border">
            <thead>
                <tr class="bg-light">
                    <th scope="col" width="15%">Customer</th>
                    <th scope="col" width="10%">Date</th>
                    <th scope="col" width="20%">Product</th>
                    <th scope="col" width="10%">Image</th>
                    <th scope="col" width="15%">Rating</th>
                    <th scope="col" width="30%">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in feed %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.made_on}}</td>
                    <td>{{item.product}}</td>
                    <td><img src="{{ refund.product.featured_image.url }}" alt="Product" width="50"></td>
                    <td>{{item.rating}}</td>
                    <td>{{item.description}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

</div>



{% endblock %}