{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">

</div>



<div class=container-fluid>
    <div class="row">
        {% for product in products %}
        <div class="col-3">
            <div><img src="{{ product.featured_image.url }}" alt="Girl in a jacket" width="150" height="150"></div>
            <div>{{ product.category }}</div>
            <div>{{ product.name }}</div>
            <div>{{ product.description}}</div>
            <div>{{ product.price}}</div>
            <a>test</a>
            <a class="button" class="button" href="{% url 'product_detail' product.id %}">View Product</a>
            {% if request.user.is_superuser %}

            <a href="{% url 'edit_product' product.id %}">Edit</a>
            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            {% endif %}


        </div>




        {% endfor %}
    </div>
</div>





{% endblock %}