{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


<div id="product_board" class="container">
    <div class="row clearfix">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="{{ product.featured_image.url }}" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary
                                btn-sm waves-effect">View Product</a>

                        </div>
                    </div>

                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Simple Black Clock</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$ {{product.price}}</li>

                        </ul>

                        {% if request.user.is_superuser %}
                        <ul class="product_price list-unstyled">
                            <li class="new_price"><a href="{% url 'edit_product' product.id %}">Edit</a></li>
                            <li class="old_price"><a class="text-danger"
                                    href="{% url 'delete_product' product.id %}">Delete</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}