{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<div class="main_title">
    <h1>All Products</h1>
    <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
        <input type="text" name="q" class="form-control mr-sm-2" placeholder="Search Site" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div id="product_board" class="container">
    <div class="row clearfix">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item ">
                <div class="body">
                    <div class="cp_img">
                        <img src="{{ product.featured_image.url }}" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary
                                btn-sm waves-effect">View Product</a>
                        </div>
                    </div>

                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">{{product.name}}</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$ {{product.price}}</li>

                        </ul>

                        {% if request.user.is_superuser %}
                        <ul class="product_price list-unstyled">
                            <li class="new_price"><a href="{% url 'edit_product' product.id %}">Edit</a></li>
                            <li class="old_price"><a class="text-danger"
                                    href="{% url 'delete_product' product.id %}">Delete</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<hr>

<div class="container">
    <h1>Questions/Answers</h1>
    <br>
    {% if request.user.is_authenticated %}
    <form method="POST" action="" class="form-inline">
        {% csrf_token %}
        {{form}}
        <button type="submit">Submit</button>
    </form>
    {% endif %}
    <br>
    <table class="table border">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Date</th>
                <th scope="col">Question</th>
            </tr>
        </thead>
        {% for question in questions %}
        <tbody>
            <tr>
                <th scope="row">{{question.user}}</th>
                <td>{{question.date_on}}</td>
                <td>{{question.question}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock %}